<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet Permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/my_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRConnect"
        tools:targetApi="31">

        <!-- Login / Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Student Dashboard Activity -->
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />

        <!-- Teacher / Admin Dashboard Activity -->
        <activity
            android:name=".TeacherDashboardActivity"
            android:exported="false" />

    </application>

</manifest>